<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="stylesheets/base.css"/>
    <link rel="stylesheet" href="stylesheets/app.css" />
</head>

<body>
    <div class="wrapper" >

    <!-- Header -->
    <div class="header">
        <div class="clock">
            <p id="clock">10:30:20</p>
        </div>
        <div class="header-info">
            <div class="search-text">
                <img src="images/search-icon.png" alt=""/>
                <input type="text" name="search" /> 
            </div>
            <div id="config">
                <img src="images/config-icon.png" alt=""/>
            </div>
        </div>
    </div>
    <!-- /Header -->

    <!-- Content -->
    <div class="content" >
        <div class="content-menu" >
            <div class="day-menu" >
                <div class="menu-label" >
                    <a href="#" >
                    <img src="images/arrow-icon.png" alt=""/>
                    <span>Today</span>
                    </a>
                    <p>34</p>
                </div>
                <div class="menu-label" >
                    <a href="#" >
                    <img src="images/arrow-icon.png" alt=""/>
                    <span>Tomorrow</span>
                    </a>
                    <p></p>
                </div>
                <div class="menu-label" >
                     <a href="#" >
                    <img src="images/arrow-icon.png" alt=""/>
                    <span>Anytime</span>
                    </a>                   
                    <p>1</p>
                </div>
                <div class="menu-label menu-label-last" >
                    <a href="#" >
                    <img src="images/stock-icon.png" alt=""/>
                    <span>Past</span>
                    </a>
                    <p>+99</p>
                </div>
            </div>
            <div id="folder-menu" >
                <div class="menu-label menu-label-last">
                    <a href="#">
                    <img src="images/add-icon.png" alt=""/>
                    <span>add</span>
                    </a>
                    <p></p>
                </div>
                <div class="menu-label">
                    <a href="#">
                    <img src="images/folder-icon.png" alt=""/>
                    <span>private</span>
                    </a>
                    <p></p>
                </div>
                <div class="menu-label">
                    <a href="#">
                    <img src="images/folder-icon.png" alt=""/>
                    <span>hogeeeeeeehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogeho</span>
                    </a>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="content-main" >
            <div class="content-main-inner">
                <div class="menu-title">
                    <p>Today</p>
                </div>
                <div class="task-add" />
                    <a href="#">
                        <img src="images/add-icon.png" alt=""/>
                        <span>add</span>
                    </a>
                </div>
                <div class="active-tasks">
                    <div class="task">
                        <div class="task-buttons">
                            <button type="button" name="save">Save</button>
                            <button type="button" name="cancel">Cancel</button>
                        </div>
                        <img class="task-list" src="images/list-icon.png" alt="" />
                        <div class="task-info">
                            <img class="task-check" src="images/check-icon.png" alt="" />
                            <div class="task-title">
                                <p>Readingabooksssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
                                <input type="text" value="Reading a book" />
                            </div>
                        </div>
                            <img class="task-bin" src="images/bin-icon.png" alt="" />
                    </div>
                    <div class="task">
                        <div class="task-buttons">
                            <button type="button" name="save">Save</button>
                            <button type="button" name="cancel">Cancel</button>
                        </div>
                        <img class="task-list" src="images/list-icon.png" alt="" />
                        <div class="task-info">
                            <img class="task-check" src="images/check-icon.png" alt="" />
                            <div class="task-title">
                                <p>testtttttttest</p>
                                <input type="text" value="Reading a book" />
                            </div>
                        </div>
                            <img class="task-bin" src="images/bin-icon.png" alt="" />
                    </div>

                </div>
                <div class="task-separate-line" ></div>
                <div class="done-tasks">
                    <div class="done-task">
                        <div class="done-task-info" >
                            <img class="done-task-check" src="images/check-icon.png" alt="" />
                            <div class="done-task-title">
                                <p>testtttesttt</p>
                            </div>
                        </div>
                    </div>
                    <div class="done-task">
                        <div class="done-task-info" >
                            <img class="done-task-check" src="images/check-icon.png" alt="" />
                            <div class="done-task-title">
                                <p>testtttesttt</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /Content -->

    </div>
</body>
</html>
