<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <script src="javascripts/react/react.js"></script>
    <script src="javascripts/react/JSXTransformer.js"></script>

    <link rel="stylesheet" href="stylesheets/base.css"/>
    <link rel="stylesheet" href="stylesheets/app.css" />
</head>

<body>
    <div id="wrapper"></div>
    <script type="text/jsx" src="javascripts/app.js"></script>
</body>

</html>
