@charset "UTF-8";

* {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
html {
    height:100%;
}
body {
	margin: 0;
	padding: 0;
    height:100%;
	background-color: #5AB376;
    outline:1px solid blue;
}

.wrapper, #wrapper{
    width:960px;
    height:100%;
    margin: 0 auto 0 auto;
}

.show_block{
    display:block; 
}
.show_inline{
    display:inline;
}
.hidden{
    display:none;
}
