@charset "UTF-8";

/* Body */
.wrapper, #wrapper{
    width:960px;
    height:100%;
    margin: 0 auto 0 auto;
}

/* Common */
.search-text-input{
    height:24px;
    width: 200px;
    background-color:#f3f3f3;
    border: solid 1px #cdcdcd;
}

.settings-save-button{
    background-color: #3D64CD;
    color: #C4CADA;
    border-style:none;
    padding: 4px 6px 4px 6px;
}
.settings-close-button{
    background-color: #9a9a9a;
    color: #262626;
    border-style:none;
    padding: 4px 6px 4px 6px;
}
.settings-save-button:hover{
    background-color: #5C81E6;
    color: #f3f3f3;
}
.settings-close-button:hover{
    background-color: #b3b3b3;
    color: #4d4d4d;
}

.folder-name-input{
    height:20px;
    width:124px;
    padding:0 0 0 5px;
    background-color:#f3f3f3;
    border: solid 1px #cdcdcd;
}

.folder-close-button{
    background-color: #9a9a9a;
    color: #262626;
    border-style:none;
    padding: 4px 6px 4px 6px;
}
.folder-close-button:hover{
    background-color: #b3b3b3;
    color: #4d4d4d;
}
.folder-save-button{
    background-color: #3D64CD;
    color: #C4CADA;
    border-style:none;
    padding: 4px 6px 4px 6px;
}
.folder-save-button:hover{
    background-color: #5C81E6;
    color: #f3f3f3;
}

.task-title-input{
    height:20px;
    padding:0 0 0 5px;
    background-color:#f3f3f3;
    border: solid 1px #cdcdcd;
}
.task-date-input {
    width: 78px;
    height: 20px;
    padding:0 0 0 5px ;
    background-color: #f3f3f3;
    border: solid 1px #cdcdcd;
}
.task-save-button{
    background-color: #3D64CD;
    color: #C4CADA;
    border-style:none;
    padding: 4px 6px 4px 6px;
}
.task-cancel-button{
    background-color: #9a9a9a;
    color: #262626;
    border-style:none;
    padding: 4px 6px 4px 6px;
}
.task-save-button:hover{
    background-color: #5C81E6;
    color: #f3f3f3;
}
.task-cancel-button:hover{
    background-color: #b3b3b3;
    color: #4d4d4d;
}
.task-folder-select{
    width:100px; 
}
.p_input-error{
    border: solid 1px #D82020;
}

/* Header */
.header{
    height: 55px;
    overflow:hidden;
}
.header::after{
    content: "";
    display: block;
    font-size: 0;
    height:0;
    clear: both;
}

.clock{
    float:left;
    width: 240px;
    height:54px;
    border-bottom: solid 1px #f3f3f3;
    border-bottom: solid 1px #000000;
}
.clock > p{
    font-size:24px;
    color:#e6e6e6;
    color:#000000;
    margin:0;
    text-align:center;
    padding-top: 10px;
}
.header_info{
    float:left;
    width:720px;
    height:54px;
    background-color: #36B35D;
    border-bottom: solid 1px #f3f3f3;
    border-bottom: solid 1px #000000;
    overflow: hidden;
}

.header-info_unit1{
    width:650px;
    height:100%;
    overflow:hidden;
    float:left;
}

.header-info-unit1_search {
    float:left;
    padding: 12px 0 0 20px;
}
.header-info-unit1_search > img{
    width: 24px;
    height:24px;
    padding:0;
    margin:0;
    vertical-align:middle;
}
.header-info-unit1_search > input{
    padding:0 0 0 5px;
    margin:0;
    vertical-align:middle;
}

.header-info-unit1_userid {
    font-size: 12px;
    padding: 12px 0 0 0 ;
    overflow:hidden;
    width:250px;
    text-align:right;
    float:right; 
    height:24px;
}

.header-info_settings {
    padding: 12px 12px 0 0;
    text-align:right;
}
.header-info_settings img:hover{
    opacity:0.6;
}
.header-info-settings_open img{
    opacity:0.6;
}
.header-popup-settings{
    padding:10px 5px 10px 5px;
}
.header-popup-settings_title{
    padding-top:2px;
    font-size:18px;
    text-align:center;
}
.header-popup-settings_input{
    padding:5px 0 0 3px;
    font-size:12px;
}
.header-popup-settings_input > select{
    width: 130px; 
}
.header-popup-settings_buttons{
    padding:15px 5px 0 0;
    text-align:right; 
}
.header-popup-settings_buttons > button[name=save]{
    margin: 2px 2px 2px 2px;
}
.header-popup-settings_buttons > button[name=close]{
    margin: 2px 2px 2px 2px;
}

.header-popup-settings_line{
    width: 120px;
    border-top:1px solid #000000;
    margin: 15px auto 10px auto;
}
.header-popup-settings_logout{
    font-size:16px;
    text-align:center;
}
.header-popup-settings_logout a{
    text-decoration:none;
    color: #E60000;
}
.header-popup-settings_logout a:hover{
    color: #E65C5C; 
}


/* Content */
.content{
    height: 100%;
    font-size: 14px;
}
.content::after{
    content: " ";
    display:block;
    font-size: 0;
    clear: both;
}

/* ContentMenu */
.content-menu{
    float:left;
    width:240px;
}

.day-menus{
    border-bottom: 1px solid #000000;
}
.day-menu{
    height:25px;
    margin: 20px 0 0 70px;
    border-bottom: 1px solid #000000;
    overflow:hidden;
}
.day-menu_link {
    overflow:hidden;
    display:table;
    float:left;
}
.day-menu_link > a{
    text-decoration:none;
    color: #000000;
}
.day-menu_link a:hover{
    color: #4d4d4d; 
}
.day-menu_link:hover img{
    opacity:0.6;
}
.day-menu_link img{
    float:left;
    width:24px;
    height:24px;
    margin:0;
    padding:0;
}
.day-menu-link_name{
    float:left;
    height:24px;
    width: 100px;
    padding-left: 10px;
    padding-top: 2px;
    overflow:hidden;
}
.day-menu_count{
    font-size:10px;
    text-align:right;
    font-weight: bold;
    margin:0;
    padding: 10px 5px 0 0;
    color: #4d4d4d;
}
.day-menu_last{
    border-bottom: none;
}

.folder-add_section{
    margin: 20px 0 0 70px;
    height:25px;
    overflow:hidden;
}
.folder-add-open{
    height:60px;
    transition: 0.2s;
}
.folder-add_show{
    overflow:hidden;
    width:120px;
}
.folder-add_show img{
    float:left;
    width:24px;
    height:24px;
    margin:0;
    padding:0;
}
.folder-add_show > a{
    text-decoration:none;
    color: #000000;
}
.folder-add-show_name{
    float:left;
    height:24px;
    padding-left: 10px;
    padding-top: 2px;
}
.folder-add_show a:hover{
    color: #4d4d4d; 
}
.folder-add_show a:hover img{
    opacity:0.6;
}
.folder-add_input{
    overflow:hidden;
}
.folder-add-input_close{
    float:left;
}
.folder-add_input img:hover{
    opacity:0.6;
}
.folder-add-input_info{
    margin:-2px 0 0 5px;
    float:left;
}
.folder-add-input-info_name{
    margin:4px 0 0 0;
    width:130px;
}
.folder-add-input-info_button{
    margin: 3px 0 0 0;
    text-align:right;
}
.folder-add_error{
    display:table;
    font-size:14px;
    color:#D82020;
    margin-left:100px;
}

.foldermenus_list{
    padding: 5px 0 15px 15px;
    margin-left:28px;
}
.foldermenus-list_dragging{
    background-color: rgba(255,255,255,0.2);
}
.folder-menu{
    height:33px;
    margin: 20px 0 0 0;
    overflow:hidden;
}
.folder-menu_dragging{
    background-color: #ffffff;
    opacity:0.5;
}
.folder-menu_dropbefore{
    position:absolute;
    width:196px;
    height:22px;
    top: -6px;
}
.folder-menu_dropafter{
    position:absolute;
    width:196px;
    height:22px;
    top: 18px;
}

.folder-menu_sort{
    padding-top:5px;
    float:left;
}
.folder-menu_sort > img:hover{
    opacity:0.6;
}

.folder-menu_section{
    margin-left: 27px;
    border-bottom: 1px solid #000000;
    overflow:hidden;
}
.folder-menu-section_link {
    padding-top:5px;
    margin-bottom:3px;
    overflow:hidden;
    display:table;
    float:left;
}
.folder-menu-section_link a{
    color:#000000;
}
.folder-menu-section_link a:hover{
    color: #4d4d4d; 
}
.folder-menu-section_link a:hover img{
    opacity:0.6;
}
.folder-menu-section_link img{
    float:left;
    width:24px;
    height:24px;
    margin:0;
    padding:0;
}
.folder-menu-section-link_name{
    float:left;
    width: 100px;
    padding-left: 10px;
    padding-top: 2px;
    overflow:hidden;
    white-space:nowrap;
}

.folder-menu-section_icon{
    float:right;
    overflow:hidden;
}
.folder-menu-section-icon_settings{
    width:16px;
    height:16px;
    padding: 0 0 0 6px;
    opacity: 0.4;
}
.folder-menu-section-icon-settings_editing{
    opacity: 0.7;
}
.folder-menu-section-icon_count{
    font-size:10px;
    text-align:right;
    font-weight: bold;
    padding: 1px 5px 0 0;
    color: #4d4d4d;
}
.folder-menu-section-icon_settings:hover{
    opacity: 0.7;
}

.folder-edit-popup{
    padding:10px 5px 10px 5px;
}
.folder-edit-popup_input{
    padding:2px 0 0 3px;
    font-size:12px;
}
.folder-edit-popup_error{
    font-size:10px;
    color:#D82020;
    padding:2px 0 0 3px;
}
.folder-edit-popup_buttons{
    padding:8px 5px 0 0;
    text-align:right; 
}
.folder-edit-popup_buttons > button[name=save]{
    margin: 2px 2px 2px 2px;
}
.folder-edit-popup_buttons > button[name=close]{
    margin: 2px 2px 2px 2px;
}

.folder-edit-popup_line{
    width: 130px;
    border-top:1px solid #000000;
    margin: 8px auto 8px auto;
}
.folder-edit-popup_delete{
    font-size:16px;
    text-align:center;
}
.folder-edit-popup_delete a{
    text-decoration:none;
    color: #E60000;
}
.folder-edit-popup_delete a:hover{
    cursor:pointer;
    color: #E65C5C; 
}


/* Content Main */
.content-main-inner{
    padding: 0 0 0 50px;
}

.menu-title > p{
    width:540px;
    font-size:32px;
    padding: 30px 0 20px 0;
    margin:0;
    overflow:hidden;
}

.task-list-active_date{
    width:580px;
}

.task-list-active-date_title{
    text-align: center;    
    margin-top: 20px;
}

.task-list-active-date_list{
    padding-top: 10px;
    padding-bottom: 20px;
}
.task-list-active-date-list_drag{
    background-color: rgba(255,255,255,0.2);
}

.task-add a:hover{
    color: #4d4d4d; 
}
.task-add a:hover img{
    opacity:0.6;
}
.task-add_new {
    margin: 10px 0 0 10px;
    padding: 5px 0 0 5px;
    overflow:hidden;
}
.task-add_new a{
    text-decoration:none;
    color: #000000;
}
.task-add_new img{
    float:left;
    width:24px;
    height:24px;
}
.task-add_new span{
    float:left;
    height:24px;
    padding-left: 6px;
    padding-top: 2px;
}

.task-add_input {
    margin: 10px 0 0 10px;
    padding: 5px 0 0 5px;
    overflow: hidden;
}
.task-add-input_close{
    height:0;
}
.task-add_close{
    float:left;
    width: 24px;
    height: 24px;
}
.task-add-input_info{
    float:left;
    overflow: hidden;
    margin: 2px 0 0 5px;
}
.task-add-input-info_open{
    height:60px;
    transition: 0.2s;
}
.task-add-input-info_close{
    height:0px;
}

.task-add-input-info_title {
    float: top;
    margin: 0 0 8px 0;
}
.task-add-input-info_title > input{
    width: 300px;
}
.task-add-input-info_date{
    float: left;
    margin: 0 5px 0 0;
}    
.task-add-input-info_folder{
    float: left;
    width: 100px;
    height: 20px;
}    
.task-add-input-info_buttons{
    text-align: right;
}
.task-add-input-info_buttons > button[name=save]{
    margin: 2px 2px 2px 2px;
}
.task-add-input_error{
    display:table;
    font-size:14px;
    color:#D82020;
    margin-left:30px;
}

.activetask{
    position:relative;
    margin: 10px 0 0 10px;
    width:560px;
    -khtml-user-drag: element;
}
.activetask-drop-before{
    position:absolute;
    width:580px;
    height:20px;
    top: 0px;
    left: -10px;
}
.activetask-drop-after{
    position:absolute;
    width:580px;
    height:20px;
    top: 20px;
    left: -10px;
}
.activetask_dragmotion{
    transition: position 0.5s;
}

.activetask img:hover{
    opacity:0.6;
}
.activetask_unit{
    overflow:hidden;
}
.activetask-unit_show{
    height: 34px;
}
.activetask-unit_edit{
    height: 64px;
    transition: 0.2s;
}

.activetask_buttons{
    float:top; 
    margin: 0 0 0 70px;
}
.activetask_buttons > button[name=save]{
    margin: 2px 1px 2px 1px;
}
.activetask_buttons > button[name=cancel]{
    margin: 2px 1px 2px 1px;
} 

.activetask_drag{
    float:left;
    padding: 5px 0 0 5px;
    width:24px;
    height:24px;
}
.activetask_info{
    float:left;
    width:500px;
    height:33px;
    overflow:hidden;
    border-bottom: 1px solid #333333;
}
.activetask_info:hover{
    background-color:#52CD7B;
    transition: 0.4s;
}
.activetask-info_check{
    float:left;
    width: 29px;
    height: 29px;
}
.activetask-info_check > img{
    opacity: 0.4;
    padding: 5px 0 0 5px;
}
.activetask-info_title{
    float:left;
    padding: 5px 0 0 10px;
    margin:0;
    overflow:hidden;
}

.activetask-info-title_show{
    float:left;
}
.activetask-info-title_show > p{
    padding: 3px 0 0 0;
    width: 380px;
    overflow:hidden;
    white-space:nowrap;
    float:left;
}
.activetask-info-title-show_sub{
    padding: 1px 4px 1px 4px;
    font-size: 10px;
    width: 67px;
    overflow:hidden;
    background-color: rgba(200,200,200,0.7);
    margin-top:5px;
    margin-left:5px;
    border-radius:4px;
    color: #33f;
    white-space:nowrap;
    float:left;
    height:15px;
}
.activetask-info_input{
    float:left;
    overflow:hidden;
}
.activetask-info-input_title{
    float:left;
}
.activetask-info-input_title > input{
    width: 250px;
    margin: 2px 0 0 0;
}
.activetask-info-input_date{
    float: left;
    margin: 2px 0 0 4px;
}
.activetask-info-input_folder{
    float: left;
    width: 100px;
    height: 20px;
    margin: 2px 0 0 3px;
}
.activetask_bin{
    padding: 5px 0 0 0;
}
.activetask_error{
    display:table;
    font-size:14px;
    color:#D82020;
    margin-left:68px;
}

.activetask_dragging{
    background-color: #ffffff;
    opacity:0.5;
}


.task-separate-line{
    width: 620px;
    border-top:1px dotted #000000;
    margin: 30px 0 0 0;
}

.done-tasks{
    margin: 0 0 0 0 ;
}

.done-task{
    height:34px;
    margin: 10px 0 0 10px;
    overflow:hidden;
}
.done-task .done-task-info{
    float:left;
    width:500px;
    height:33px;
    overflow:hidden;
    margin: 0 0 0 29px;
    border-bottom: 1px solid #333333;
}
.done-task .done-task-info .done-task-check{
    float:left;
    padding: 5px 0 0 5px;
}
.done-task .done-task-info .done-task-title{
    float:left;
    padding: 5px 0 0 10px;
    margin:0;
}
.done-task .done-task-info .done-task-title > p{
    padding: 3px 0 0 0;
    width: 450px;
    margin: 0;
    opacity: 0.5;
    overflow:hidden;
    display:block;
}
.done-task .donetask-bin{
    padding: 5px 0 0 0;
}
.done-task img:hover{
    opacity:0.6;
}

.content-main{
    float:left;
    width:720px;
    height:100%;
    background-color:#36B35D;
}
.content-main:after{
    content: "";
    display: block;
    font-size: 0;
    height:0;
}
